{% load static %}
{% load i18n %}
{% load tz %}
<!DOCTYPE html>
<html lang="az">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static 'css/mail.css'%}">

</head>

<body>
    <div class="email-container">
        <div class="email-header">

            <h2>FixBit</h2>
        </div>
        <div class="email-body">
            <h3>Salam!</h3>
            <p>Bizimlə əlaqə saxladığınız üçün təşəkkür edirik.</p>
            <p>Mesajınızı qəbul etdik və komandamız ən qısa zamanda sizinlə əlaqə saxlayacaq.</p>
            <p>Əgər bu müddət ərzində sualınız olarsa, <a href="+994 10 209 08 88">+994 10 209 08 88</a> Nömrəsinə zəng
                edə və
                yaza bilərsiniz.</p>
        </div>
        <div class="email-footer">
            &copy; 2025 FixBit | Texniki Dəstək Xidməti
        </div>
    </div>
</body>

</html>